//font sizes
$default-font-size: 1.6rem;
$default-line-height: 1.5;
//background gradient
$background-gradient-color: linear-gradient(to right bottom, rgba(130, 233, 135, 0.822), rgba(128, 240, 84, 0.774));
$background-gradient-image: linear-gradient(to right bottom, rgba(130, 233, 135, 0.472), rgba(128, 240, 84, 0.582)),
url("https://images.unsplash.com/photo-1521102761523-b268f61473e5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1549&q=80");
//spacing
$vertical-gutter: 4rem;
$horizontal-gutter: 2.4rem;