@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&display=swap");
html {
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  line-height: 1.5;
  line-height: 1.5; }

.heading-tertiary {
  font-display: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right bottom, rgba(130, 233, 135, 0.822), rgba(128, 240, 84, 0.774));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondaryhover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.paragraph {
  font-size: 1.6rem;
  color: grey; }
  .paragraph:not(:last-child) {
    margin-block: 3rem; }

.header-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5.4rem; }

.header-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.6rem; }

.header-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: grey; }

.header-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: grey; }

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif; }

body {
  font-family: 'Roboto', sans-serif; }

@keyframes moveInLeft {
  0% {
    /*hide*/
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    /*go extra 10px to the right*/
    transform: translateX(1rem); }
  100% {
    /*display*/
    opacity: 1;
    /*stop at the same position*/
    transform: translateX(0); } }

/*define animation using keyframe */
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

[class^="col-"] {
  display: inline-block; }

.row .col-3 {
  width: calc((100%/4)); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right bottom, rgba(130, 233, 135, 0.822), rgba(128, 240, 84, 0.774));
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  background-color: orangered;
  height: 50rem; }

.section-feature {
  background-image: linear-gradient(to right bottom, rgba(130, 233, 135, 0.472), rgba(128, 240, 84, 0.582)), url("https://images.unsplash.com/photo-1521102761523-b268f61473e5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1549&q=80");
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin: 8rem auto; }
  .section-feature > * {
    transform: skewY(7deg); }
  .section-feature #section-feature {
    margin: 0 auto;
    max-width: 114rem; }

.section-tours {
  margin-top: -20rem;
  padding-top: 35rem;
  background-color: #F7F5F7; }
